@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply text-white;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.font-cal {
  font-family: 'Cal Sans', 'Inter', system-ui, -apple-system, sans-serif;
}
