---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Solid/Hero";
import Features from "../components/Solid/Features";
---

<Layout 
  title="Solid + Astro"
  primaryBallColor="#4f46e5"  
  secondaryBallColor="#818cf8"
>
  <main>
    <Hero client:only="solid-js"/>
    <Features client:only="solid-js" />
  </main>
</Layout>
