---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Svelte/Hero.svelte";
import DevTools from "../components/Svelte/DevTools.svelte";
---

<Layout 
  title="Svelte + Astro"
  primaryBallColor="#FF3E00"  
  secondaryBallColor="#FF5D01"  
>
  <main>
    <Hero client:only="svelte" />
    <DevTools client:only="svelte" />
  </main>
</Layout>

