---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Vue/Hero.vue';
import Features from '../components/Vue/Features.vue';
---

<Layout 
  title="Vue + Astro"
  primaryBallColor="#4caf50"  
  secondaryBallColor="#81c784"  
>

  <main>
    <Hero client:only="vue" />
    <Features client:only="vue" />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 100%;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
